@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Serif&display=swap');

/* CSS rules for Home Page*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter',  Helvetica, sans-serif;;
}

header {
    background-color: #0c2b43;
    display: grid;
    grid-template-columns: 300px auto;
}

#logo-link {
    align-self: center;
    justify-self: center;
    display: table;
    text-decoration: none;
}

.logo {
    width: 70px;
    margin: 0px 20px;
    border: 1px solid white;
    border-radius: 8px;
}

#logo-link h1 {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: 'Noto Serif', 'Times New Roman', serif;
}

nav {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    background-color: #0c2b43;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
    color: white;
}

nav a:link, nav a:visited {
    color: white;
}

nav a:hover {
    color: #2a98ed;
    background-color: white;
}

#banner {
    display: block;
    width: 60%;
    margin: 30px auto;
}

.main-p-container {
    background-color: #2a98ed;
    width: 90%;
    margin: auto;
    border-radius: 12px;
}

.main-p-container p {
    color: white;
    text-align: left;
    margin: 20px;
    padding: 20px;
    line-height: 1.5em;
}

section h3 {
    text-align: center;
    color: #0c2b43;
    margin: 50px;
    font-size: 3em;
    font-family: 'Noto Serif', 'Times New Roman', serif;
}

#home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

.benefits {
    text-align: center;
    background-color: #2a98ed;
    color: white;
    border-radius: 12px;
    width: 80%;
    padding: 30px;
    justify-self: center;
}

ul li {
    margin: 30px;
    line-height: 1.4em;
}

#home-grid img {
    display: block;
    width: 80%;
    margin: 0 auto;
    justify-self: center;
    border: 1px solid #0c2b43;
    border-radius: 12px;
}

#home-grid > p {
    align-self: center;
    justify-self: center;
    font-size: 2em;
    color: #0c2b43;
}

.button-box {
    align-self: center;
    justify-self: center;
    text-align: center;
    color: #0c2b43;
    line-height: 1.5em;
}

button {
    font-size: 1.5em;
    padding: 5px 30px;
    border-radius: 8px;
    background-color: #0c2b43;
    color: white;
    border: none;
}

button:hover {
    background-color: #2a98ed;
    color: white;
}

footer {
    background-color: #0c2b43;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p a {
    text-decoration: none;
    color: white;
}

footer p a:hover {
    color: #2a98ed;
}

.social a {
    text-decoration: none;
}

footer .social img {
    margin: 15px;
    border-radius: 8px;
}


/* CSS rules for FAQ page */

#logo-link-faq {
    align-self: center;
    justify-self: center;
    display: table;
    text-decoration: none;
}

#logo-link-faq h1 {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: 'Noto Serif', 'Times New Roman', serif;
}

main h1 {
    text-align: center;
    color: #0c2b43;
    font-size: 3em;
    margin: 40px;
    font-family: 'Noto Serif', 'Times New Roman', serif;
}

#faq-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 150px;
    margin: 0px 10px 150px 10px;
    grid-gap: 20px;
}

.q-and-a {
    text-align: center;
    background-color: #2a98ed;
    color: white;
    border-radius: 12px;
    width: 80%;
    height: 60%;
    padding: 40px;
    justify-self: center;
    align-self: center;
    display: table;
}

.q-and-a p {
    font-size: 1.2em;
    display: table-cell;
    vertical-align: middle;
    line-height: 1.5em;
}

.q-and-a span {
    font-size: 1.3em;
    font-weight: bolder;
    line-height: 3em;
}

#faq-grid img {
    justify-self: center;
    align-self: center;
    width: 80%;
    border-radius: 12px;
}

/* CSS rules for Course Details page */

#logo-link-course {
    align-self: center;
    justify-self: center;
    display: table;
    text-decoration: none;
}

#logo-link-course h1 {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: 'Noto Serif', 'Times New Roman', serif;
}

#banner2 {
    display: block;
    width: 60%;
    margin: 30px auto;
    margin-bottom: 70px;
}

main h4 {
    color: #0c2b43;
    text-align: center;
    font-size: 1.2em;
}

#schedules-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 80%;
    margin: 80px auto;

}

#first {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
}

#second {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
}

#third {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center;
}

#schedules-grid img {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    border: 1px solid #0c2b43;
    border-radius: 12px;
}

.schedules {
    text-align: center;
    background-color: #2a98ed;
    color: white;
    border-radius: 12px;
    width: 60%;
    padding: 2px;
}

.schedules h5 {
    font-size: 1.1em;
    margin-bottom: 10px;
}

ol {
    counter-reset: list;
    text-align: center;
    padding-inline-start: 0;
}
ol > li {
    list-style: none;
    margin: 5px;
    
}
ol > li:before {
    content: counter(list, lower-alpha) ") ";
    counter-increment: list;
}

#contact-info {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 100px;
}